.btn-fb5cf40 {
  display: grid;
  place-content: center;
}

.primary-fb5cf40 {
  --component-transitions: var(--base-transitions),
    filter var(--time-transition);

  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);

  transition: var(--component-transitions);

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }
}

.secondary-fb5cf40 {
  --component-transitions: var(--base-transitions),
    filter var(--time-transition);

  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);

  transition: var(--component-transitions);

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }
}


// a reset //

:root {
  // see readme
  --component-transitions: var(--base-transitions);

  // fonts //
  --ff-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // https://modernfontstacks.com/
  --ff-mono: ui-monospace, "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --line-height: 1.5;

  // https://tailwindcss.com/docs/box-shadow
  --shadow-small: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-large: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  // https://tailwindcss.com/docs/filter-drop-shadow
  --filter-shadow-small: drop-shadow(0 1px 2px rgb(0 0 0 / 0.15));
  --filter-shadow-large: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));

  --brad-large: 2rem;
  --brad-standard: 1rem;
  --brad-small: 0.5rem;

  --fs-large: calc(5rem / 3);
  --fs-standard: 1rem;
  --fs-small: 0.75rem;

  // other stuff //

  --time-transition: 160ms;
  --scrollbar-size: 0.5rem;

  // global stuff //

  font-family: var(--ff-body);
  font-size: var(--fs-standard);
  line-height: var(--line-height);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;

  tab-size: 4;

  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  // break very long words if necessary
  overflow-wrap: break-word;
}

code {
  font-family: var(--ff-mono);
}

input,
select,
button {
  --base-transitions: box-shadow var(--time-transition);

  font: inherit;
  color: inherit;
  width: inherit;

  border: none;
  background-color: transparent;
  // use outline transparent instead of none for better accessibility on high contrast mode
  outline: transparent;

  cursor: pointer;

  box-shadow: inset 0px 0px 0px 0px currentColor;
  transition: var(--base-transitions);

  &:hover:not(:focus-visible),
  :focus:not(:focus-visible) {
    box-shadow: inset 0px 0px 0px 0.2rem currentColor;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

input,
select {
  min-width: 0;
  width: 100%;
}

input[aria-invalid="true"] {
  outline: 4px solid var(--color-error);
  outline-offset: 2px;
}

// https://gist.github.com/palashmon/35bda7887eb4bc45459d71eca3dda7a5
// https://youtu.be/345V2MU3E_w
img,
picture,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
  font-weight: 800;
  // prevent large difference in line lengths
  text-wrap: balance;
  // slightly shorter line height than default
  line-height: 1.25;
}

a {
  color: var(--blue);

  &:visited {
    color: var(--purple);
  }

  &:hover,
  &:focus {
    text-decoration-thickness: 3px;
  }

  &:focus-visible {
    outline: var(--outline);
    outline-offset: 2px;
  }
}

// override links on headings
:is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

p,
li {
  // prevent orphan words
  text-wrap: pretty;
}

h1 {
  font-size: var(--fs-large);
  letter-spacing: 0.02em;
}

h2 {
  font-size: var(--fs-standard);
}

h3 {
  font-size: var(--fs-standard);
}

// scrollbars //
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-container-high);
  border-radius: var(--scrollbar-size);

  transition: background-color var(--time-transition);

  &:hover {
    background-color: var(--color-surface-container-highest);
  }

  &:active {
    background-color: var(--color-inverse-primary);
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--color-surface);
}

*::selection {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

// variables //

// generated by material theme builder
// https://www.figma.com/community/plugin/1034969338659738588/material-theme-builder
:root {
  --color-primary: rgb(255 176 200);
  --color-surface-tint: rgb(255 176 200);
  --color-on-primary: rgb(84 29 50);
  --color-primary-container: rgb(112 51 73);
  --color-on-primary-container: rgb(255 217 226);
  --color-secondary: rgb(227 189 198);
  --color-on-secondary: rgb(66 41 49);
  --color-secondary-container: rgb(90 63 71);
  --color-on-secondary-container: rgb(255 217 226);
  --color-tertiary: rgb(239 189 148);
  --color-on-tertiary: rgb(72 41 12);
  --color-tertiary-container: rgb(98 63 32);
  --color-on-tertiary-container: rgb(255 220 193);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(25 17 19);
  --color-on-background: rgb(239 223 225);
  --color-surface: rgb(25 17 19);
  --color-on-surface: rgb(239 223 225);
  --color-surface-variant: rgb(81 67 71);
  --color-on-surface-variant: rgb(213 194 198);
  --color-outline: rgb(158 140 144);
  --color-outline-variant: rgb(81 67 71);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(239 223 225);
  --color-inverse-on-surface: rgb(55 46 48);
  --color-inverse-primary: rgb(140 74 96);
  --color-primary-fixed: rgb(255 217 226);
  --color-on-primary-fixed: rgb(58 7 29);
  --color-primary-fixed-dim: rgb(255 176 200);
  --color-on-primary-fixed-variant: rgb(112 51 73);
  --color-secondary-fixed: rgb(255 217 226);
  --color-on-secondary-fixed: rgb(43 21 28);
  --color-secondary-fixed-dim: rgb(227 189 198);
  --color-on-secondary-fixed-variant: rgb(90 63 71);
  --color-tertiary-fixed: rgb(255 220 193);
  --color-on-tertiary-fixed: rgb(46 21 0);
  --color-tertiary-fixed-dim: rgb(239 189 148);
  --color-on-tertiary-fixed-variant: rgb(98 63 32);
  --color-surface-dim: rgb(25 17 19);
  --color-surface-bright: rgb(65 55 57);
  --color-surface-container-lowest: rgb(20 12 14);
  --color-surface-container-low: rgb(34 25 28);
  --color-surface-container: rgb(38 29 32);
  --color-surface-container-high: rgb(49 40 42);
  --color-surface-container-highest: rgb(60 50 53);
}


.page-home-c6e7cb7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h-create h-join"
    "i-create i-join";
  min-height: 100dvh;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h-create"
      "i-create"
      "h-join"
      "i-join";
  }

  h2 {
    font-size: var(--fs-large);
  }
}

.heading-create-c6e7cb7 {
  grid-area: h-create;
}

.heading-join-c6e7cb7 {
  grid-area: h-join;
}

.heading-create-c6e7cb7,
.heading-join-c6e7cb7 {
  display: grid;
  align-items: end;
  justify-content: center;
}

.heading-join-c6e7cb7,
.form-join-c6e7cb7 {
  background-color: var(--color-surface-container);
}

.form-create-c6e7cb7,
.form-join-c6e7cb7 {
  display: grid;
  align-items: start;
  justify-content: center;
}

.form-create-c6e7cb7,
.form-join-c6e7cb7 {
  padding: 1rem;
}

.create-group-c6e7cb7 {
  width: 8rem;
  height: 5rem;
  font-size: 2rem;

  border-radius: var(--brad-small);
}

.join-input-c6e7cb7 {
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-container);

  font-size: var(--fs-large);
  height: 3rem;
  border-radius: var(--brad-small) var(--brad-small) 0 0;
  padding: 0.5rem;

  &::placeholder {
    color: var(--color-surface-variant);
  }
}

.join-button-c6e7cb7 {
  border-radius: 0 0 var(--brad-small) var(--brad-small);
  width: 100%;
  height: 2rem;
}
