.btn-fb5cf40 {
  display: grid;
  place-content: center;
}

.primary-fb5cf40 {
  --component-transitions: var(--base-transitions),
    filter var(--time-transition);

  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);

  transition: var(--component-transitions);

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }
}

.secondary-fb5cf40 {
  --component-transitions: var(--base-transitions),
    filter var(--time-transition);

  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);

  transition: var(--component-transitions);

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }
}


// a reset //

:root {
  // see readme
  --base-transitions: ;
  --component-transitions: var(--base-transitions);

  // fonts //
  --ff-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // https://modernfontstacks.com/
  --ff-mono: ui-monospace, "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --line-height: 1.5;

  // https://tailwindcss.com/docs/box-shadow
  --shadow-small: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-large: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  // https://tailwindcss.com/docs/filter-drop-shadow
  --filter-shadow-small: drop-shadow(0 1px 2px rgb(0 0 0 / 0.15));
  --filter-shadow-large: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));

  --brad-large: 2rem;
  --brad-standard: 1rem;
  --brad-small: 0.5rem;

  --fs-large: calc(5rem / 3);
  --fs-standard: 1rem;
  --fs-small: 0.75rem;

  // other stuff //

  --time-transition: 160ms;
  --scrollbar-size: 0.5rem;

  // global stuff //

  font-family: var(--ff-body);
  font-size: var(--fs-standard);
  line-height: var(--line-height);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;

  tab-size: 4;

  background-color: var(--color-surface);
  color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  // break very long words if necessary
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

code {
  font-family: var(--ff-mono);
}

input,
select,
button {
  --base-transitions: box-shadow var(--time-transition);

  font: inherit;
  color: inherit;
  width: inherit;

  border: none;
  background-color: transparent;
  // use outline transparent instead of none for better accessibility on high contrast mode
  outline: transparent;

  cursor: pointer;

  box-shadow: inset 0px 0px 0px 0px currentColor;
  transition: var(--base-transitions);

  &:hover:not(:focus-visible),
  :focus:not(:focus-visible) {
    box-shadow: inset 0px 0px 0px 0.2rem currentColor;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

input,
select {
  min-width: 0;
  width: 100%;
}

input[aria-invalid="true"] {
  outline: 4px solid var(--color-error);
  outline-offset: 2px;
}

// https://gist.github.com/palashmon/35bda7887eb4bc45459d71eca3dda7a5
// https://youtu.be/345V2MU3E_w
img,
picture,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

// prettier-ignore
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 800;
  // prevent large difference in line lengths
  text-wrap: balance;
  // slightly shorter line height than default
  line-height: 1.25;
}

a {
  color: var(--blue);

  &:visited {
    color: var(--purple);
  }

  &:hover,
  &:focus {
    text-decoration-thickness: 3px;
  }

  &:focus-visible {
    outline: var(--outline);
    outline-offset: 2px;
  }
}

// override links on headings
:is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

p,
li {
  // prevent orphan words
  text-wrap: pretty;
}

h1 {
  font-size: var(--fs-large);
  letter-spacing: 0.02em;
}

h2 {
  font-size: var(--fs-standard);
}

h3 {
  font-size: var(--fs-standard);
}

// scrollbars //
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-container-high);
  border-radius: var(--scrollbar-size);

  transition: background-color var(--time-transition);

  &:hover {
    background-color: var(--color-surface-container-highest);
  }

  &:active {
    background-color: var(--color-inverse-primary);
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--color-surface);
}

*::selection {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

// variables //

// generated by material theme builder
// https://www.figma.com/community/plugin/1034969338659738588/material-theme-builder
:root {
  --foreground-color: #212529;
  --blue-3: #74c0fc;
  --green-3: #8ce99a;
  --orange-3: #ffc078;
  --red-3: #ffa8a8;
  --grape-3: #e599f7;
  --pink-3: #faa2c1;
  --violet-0: #f3f0ff;
  --violet-1: #e5dbff;
  --violet-2: #d0bfff;
  --color-on-violet-2: #271756;
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;

  --color-primary: rgb(100 85 143);
  --color-surface-tint: rgb(100 85 143);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(232 221 255);
  --color-on-primary-container: rgb(31 16 71);
  --color-secondary: rgb(97 91 113);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: var(--violet-2);
  --color-on-secondary-container: rgb(29 25 43);
  --color-tertiary: rgb(125 82 97);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(255 217 227);
  --color-on-tertiary-container: rgb(49 16 30);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(253 247 255);
  --color-on-background: rgb(28 27 32);
  --color-surface: rgb(253 247 255);
  --color-on-surface: rgb(28 27 32);
  --color-surface-variant: rgb(230 224 236);
  --color-on-surface-variant: rgb(72 69 78);
  --color-outline: rgb(121 117 127);
  --color-outline-variant: rgb(202 196 207);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(50 47 53);
  --color-inverse-on-surface: rgb(245 239 247);
  --color-inverse-primary: rgb(206 189 254);
  --color-primary-fixed: rgb(232 221 255);
  --color-on-primary-fixed: rgb(31 16 71);
  --color-primary-fixed-dim: rgb(206 189 254);
  --color-on-primary-fixed-variant: rgb(76 62 118);
  --color-secondary-fixed: rgb(231 222 248);
  --color-on-secondary-fixed: rgb(29 25 43);
  --color-secondary-fixed-dim: rgb(203 195 220);
  --color-on-secondary-fixed-variant: rgb(73 68 88);
  --color-tertiary-fixed: rgb(255 217 227);
  --color-on-tertiary-fixed: rgb(49 16 30);
  --color-tertiary-fixed-dim: rgb(239 184 201);
  --color-on-tertiary-fixed-variant: rgb(99 59 73);
  --color-surface-dim: rgb(222 216 224);
  --color-surface-bright: rgb(253 247 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(247 242 250);
  --color-surface-container: rgb(242 236 244);
  --color-surface-container-high: rgb(236 230 238);
  --color-surface-container-highest: rgb(230 225 233);
  --color-on-surface-container: var(--color-on-surface);
}


.layout-981fdab {
  display: grid;
  grid-template-columns: 13rem 1fr;
  min-height: 100dvh;

  > * {
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 100%;
  }

  > main {
    display: grid;
  }
}

.home-link-981fdab {
  padding: 1rem;
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.copy-id-button-981fdab {
  padding: 1rem;
  width: 100%;
}

.member-list-wrapper-981fdab {
  background-color: var(--violet-1);
  color: var(--color-on-violet-2);

  h2 {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

.member-981fdab {
  display: grid;
}

.member-link-981fdab {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem;

  &[aria-current="page"] {
    background-color: var(--violet-0);
  }

  transition: background-color var(--time-transition);

  &:hover,
  &:focus {
    background-color: var(--violet-0);
  }
}

.member-name-981fdab {
  text-decoration: underline;
}

.add-member-form-981fdab {
  display: flex;
  gap: .2rem;
}

.add-member-button-981fdab {
  padding: 1rem;
  background: none;
  outline: none;
}


.page-home-wrapper-c6e7cb7 {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.header-c6e7cb7 {
  background: var(--violet-1);
  color: var(--color-on-violet-2);
}

.title-c6e7cb7 {
  font-size: 4rem;
  text-align: center;
  margin: 4rem 0rem;
}

.page-home-c6e7cb7 {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h-create h-join"
    "i-create i-join";

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h-create"
      "i-create"
      "h-join"
      "i-join";
  }

  h2 {
    font-size: var(--fs-large);
  }
}

.heading-create-c6e7cb7 {
  grid-area: h-create;
}

.heading-join-c6e7cb7 {
  grid-area: h-join;
}

.heading-create-c6e7cb7,
.heading-join-c6e7cb7 {
  display: grid;
  align-items: end;
  justify-content: center;
}

.heading-join-c6e7cb7,
.form-join-c6e7cb7 {
  background: var(--color-surface-container);
}

.form-create-c6e7cb7,
.form-join-c6e7cb7 {
  display: grid;
  align-items: start;
  justify-content: center;
  padding: 1rem;
}

.create-group-c6e7cb7 {
  width: 8rem;
  height: 5rem;
  font-size: 2rem;

  border-radius: var(--brad-small);
}

.join-input-c6e7cb7 {
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-container);

  font-size: var(--fs-large);
  height: 3rem;
  border-radius: var(--brad-small) var(--brad-small) 0 0;
  padding: 0.5rem;

  &::placeholder {
    color: var(--color-on-surface-variant);
  }
}

.join-button-c6e7cb7 {
  border-radius: 0 0 var(--brad-small) var(--brad-small);
  width: 100%;
  height: 2rem;
}


.layout-6910ffc {
  color: var(--color-on-surface-container);
  background-color: var(--color-surface-container);
  padding: 1rem;
}

.member-nav-6910ffc {
  display: flex;
  gap: 1em;
}


.layout-a4d3295 {
  display: grid;
  place-content: center;
}

.no-member-a4d3295 {
  font-size: var(--fs-large);
  color: var(--color-on-surface-variant);
  font-weight: 300;
}


.page-not-found-7c54a4b {
  padding: 3rem;

  > * + * {
    padding-top: 1rem;
  }
}


.page-3346bf1 {
  padding: 1rem;

  > * + * {
    margin-top: 1rem;
  }

  h2 {
    font-size: var(--fs-large);
  }

  h3 {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

.search-units-input-3346bf1 {
  padding: 0.5em;
  border: 2px solid var(--color-primary);
}

.searched-units-3346bf1 {
  background-color: var(--color-surface-container);
  min-height: 1rem;
  max-height: 8rem;
  overflow: auto;

  > li {
    display: grid;
  }
}

.searched-unit-3346bf1 {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  text-align: start;
}

.preferences-3346bf1 {
  display: grid;
  gap: 1rem;
}

.unit-preferences-3346bf1 {
}

.unit-table-3346bf1 {
  width: 100%;
  border-collapse: collapse;

  th:nth-child(1) {
    width: 30%;
  }

  th,
  td {
    border: 1px solid var(--color-outline-variant);
    padding: 0.25rem 0.5rem;
  }
}

.pref-submit-3346bf1 {
  padding: 0.5rem 1rem;
  border-radius: var(--brad-small);
}

.unit-code-3346bf1 {
  font-weight: bold;
}
.unit-name-3346bf1 {
  color: var(--color-on-surface-variant);
}


.selector-86aab24 {
  min-height: 1lh;
  height: 100%;
  display: block;
  padding: 0.5rem;
  background-color: var(--color-surface-container);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: pointer;

  --base-transitions: box-shadow var(--time-transition);
  box-shadow: inset 0px 0px 0px 0px currentColor;
  transition: var(--base-transitions);

  &:hover:not(:focus-visible),
  :focus:not(:focus-visible) {
    box-shadow: inset 0px 0px 0px 0.2rem currentColor;
  }

  > span {
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
    padding: 0.25rem 0.5rem;
    border-radius: 999rem;
  }
}

.selector-86aab24,
.modal-86aab24 {
  border-radius: var(--brad-small);
}

.modal-86aab24 {
  background-color: var(--color-surface-container);
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.modal-heading-86aab24 {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.5rem;
    border-radius: var(--brad-small);
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary);
  }
}

.modal-checkboxes-86aab24 {
  display: grid;

  input {
    width: unset;
    margin-right: 1rem;
  }
}


$num-hours: 14;
$grid-width: 0.1%;

$grid-color: var(--gray-5);

.timetable-788cd3a {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	color: var(--foreground-color)
}

.day-788cd3a {
	border-right: 1px solid $grid-color;
}

.day-header-788cd3a {
	text-align: center;
	border-bottom: 3px solid $grid-color;
}

.day-schedule-788cd3a {
	position: relative;
	height: $num-hours * 70px;
	border-top: ($grid-width / 2) solid $grid-color;
	background: repeating-linear-gradient(to bottom,
			$grid-color,
			$grid-color $grid-width / 2,
			var(--color-background) $grid-width / 2,
			var(--color-background) (100% / $num-hours) - $grid-width / 2,
			$grid-color (
			100% / $num-hours) - $grid-width / 2,
		$grid-color (
		100% / $num-hours),
	);
}

.class-788cd3a {
	position: absolute;
	width: 100%;
	padding: 1px;
}

.class-inner-788cd3a {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-top: 3px;
	border-radius: .25rem;
	background: #777;
	font-size: 0.8em;
	overflow: auto;
	scrollbar-width: none;
}
