.home-link {
  margin-bottom: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: 10rem 1fr;
  min-height: 100dvh;

  > * {
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 100%;
  }

  > main {
    display: grid;
  }
}

.member-list-wrapper {
  background-color: var(--color-surface-container);
  padding: 1em;
}

.member {
  display: grid;
}

.member-link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem;

  &[aria-current="true"] {
    background-color: var(--color-surface-container-high);
  }

  transition: background-color var(--time-transition);

  &:hover,
  &:focus {
    background-color: var(--color-surface-container-high);
  }
}

.member-name {
  text-decoration: underline;
}

.member-units {
  color: var(--color-on-surface-variant);
}
