.layout {
  display: grid;
  grid-template-columns: 13rem 1fr;
  min-height: 100dvh;

  > * {
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 100%;
  }

  > main {
    display: grid;
  }
}

.home-link {
  padding: 1rem;
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.member-list-wrapper {
  background-color: var(--violet-1);
  color: var(--color-on-violet-2);

  h2 {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

.member {
  display: grid;
}

.member-link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem;

  &[aria-current="page"] {
    background-color: var(--violet-0);
  }

  transition: background-color var(--time-transition);

  &:hover,
  &:focus {
    background-color: var(--violet-0);
  }
}

.member-name {
  text-decoration: underline;
}

.add-member-form {
  display: flex;
  gap: .2rem;
}

.add-member-button {
  padding: 1rem;
  background: none;
  outline: none;
}
