.page {
  padding: 1rem;
}

.search-units-input {
  padding: 1rem;
}

.searched-units {
  background-color: var(--color-surface-container);
  max-height: 8rem;
  overflow: auto;

  > li {
    display: grid;
  }
}

.searched-unit {
  padding: 0.5rem;
  text-align: start;
}

.preferences {
}

.unit-preferences {
  width: 100%;
}

.unit-table {
}
