.selector {
  width: 100%;
  min-height: 1lh;
  height: 100%;
  display: block;
  padding: 0.5rem;
  background-color: var(--color-surface-container-high);
}

.modal {
}
.modal-heading {
}

.modal-checkboxes {
  display: grid;
  input {
    width: unset;
  }
}
